@import url("https://fonts.googleapis.com/css2?family=Protest+Strike&family=Raleway&display=swap");

:root {
  /* background colors */
  --clr-bg-primary: #fff;
  --clr-bg-secondary: #ffd400;
  --clr-bg-negative: #2d232e;

  /* text colors */
  --clr-text-primary: #2d232e;
  --clr-text-secondary: #ffd400;
  --clr-text-light: #fff;

  /* accent colors */
  --clr-accent: #b9314f;

  --ff-standard: "Raleway", sans-serif;
  --ff-headings: "Protest Strike", sans-serif;

  /* font sizes */
  --fs-900: 3rem;
  --fs-800: 2rem;
  --fs-700: 1.5rem;
  --fs-600: 1.25rem;
  --fs-500: 1.125rem;
  --fs-400: 1rem;
  --fs-300: 0.75rem;
  --fs-200: 0.625rem;
  --fs-100: 0.5rem;

  /* devices breakpoints */
  --max-screen-mobile: max-width: 30rem;
  --max-screen-tablet: max-width: 48rem;
}

body {
  color: var(--clr-text-primary);
  width: 100%;
  min-height: 100vh;
  font-family: var(--ff-standard);
  font-size: 1.125rem;
  background-color: var(--clr-bg-primary);
}

.blog-container {
  min-height: 100vh;
  width: 100%;
  background-color: var(--clr-bg-primary);
  color: var(--clr-text-primary);
}

.blog-header {
  font-family: var(--ff-headings);
  color: var();
}

.blog-post-title {
  font-family: var(--ff-headings);
  font-size: var();
}

/* background utils */
.own-bg-primary {
  background-color: var(--clr-bg-primary);
}

.own-bg-secondary {
  background-color: var(--clr-bg-secondary) !important;
}

.own-bg-negative {
  background-color: var(--clr-bg-negative);
}

.own-bg-transparent {
  background-color: transparent;
}
/* text utils */

.own-text-primary {
  color: var(--clr-text-primary);
}

.own-text-secondary {
  color: var(--clr-text-secondary);
}

.own-text-light {
  color: var(--clr-text-light);
}

.own-text-accent {
  color: var(--clr-accent);
}

/* border utils */

.own-border-primary {
  border: 1px solid var(--clr-text-primary);
}

.own-border-secondary {
  border: 1px solid var(--clr-text-secondary);
}

.own-border-light {
  border: 1px solid var(--clr-text-secondary);
}

.own-border-left-accent {
  padding-left: 1rem;
  border-left: 0.4rem solid var(--clr-accent);
}

/* font size utils */

.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}
.fs-100 {
  font-size: var(--fs-100);
}

/* Other utils */

.emphasized-border {
  box-shadow: 0.5rem 0.5rem 0rem var(--clr-bg-secondary);
  border: 0.125rem solid var(--clr-bg-secondary) !important;
  border-radius: 0;
}

.removed-underline {
  text-decoration: none;
}

.custom-tooltip {
  background-color: red;
  position: absolute;
  top: 200px;
}